[type="checkbox"] {
  -webkit-appearance: none;
}

label {
  position: relative;
}

label input {
  display: inline-flex;
  gap: 8px;
  
}
label span {
  position: absolute;
  top: -1px;
  right: 20px;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #ffffff77;
  border-radius: 20px;
  border: 1px dashed whitesmoke;
}

:focus-within::-webkit-scrollbar-thumb {
  background-color: #ffffff77;
  border-radius: 20px;
  border: 1px dashed gold;
}
